<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/profile.jpg" class="img-responsive img-circle" alt="">
                    <h4>Gaurav Anvekar</h4>
                    <br />
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="large">
                    An engineer by education, programmer by profession and a foodie at heart!
                </p>
                <br />
                <p class="large">
                    I am a passionate full-stack web developer with experience in building end to end web applications. My professional work experience includes software development on distributed systems using microservice architecture hosted on a public cloud such as Azure.
                </p>
                <br />
                <h4>Technologies:</h4>
                <br />
                <h3 class="section-subheading text-muted specialties">
                    Angular, React, Redux, Typescript, HTML, CSS
                    <br />JavaScript, TypeScript, Node.js, .NET (C#, F#)
                    <br />Docker, Microservices, Kafka
                    <br />Azure cloud platform
                    <br />MongoDB, CosmosDB, SQL Server
                </h3>
            </div>
        </div>
    </div>
</section>