<!-- Technology Aside -->
<aside class="clients bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/angularjs.png" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/html5-css3.png" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/javascript.png" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/SharePoint.gif" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>