<!-- Technology Aside -->
<aside class="clients bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="https://angular.io/" target="_blank">
                    <img src="img/logos/angular.png" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://typescriptlang.org/" target="_blank">
                    <img src="img/logos/ts.png" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://nodejs.org/en/" target="_blank">
                    <img src="img/logos/node.jpg" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://azure.microsoft.com/en-us/" target="_blank">
                    <img src="img/logos/azure.png" class="img-responsive img-centered tech-logo" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>