<!-- Timeline Section -->
<section id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Timeline</h2>
                <h3 class="section-subheading text-muted">My journey</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/git_logo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Septemper 2007 - June 2011</h4>
                                <h4 class="subheading">Bachelor's Degree (BE) Computer Science</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Graduated with a degree in Computer Science from Gogte Institute of Technology, affiliated to Visvesvaraya Technological University, Belgaum (India).
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/mindtree_logo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2011 - June 2013</h4>
                                <h4 class="subheading">Programmer Analyst, Mindtree, Bangalore</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    As a developer, worked on implementation of web based applications using C#, ASP.NET and SharePoint with clients like American Express, P&G, Daiichi Sankyo and Daimler.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/uf_logo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2013 - May 2015</h4>
                                <h4 class="subheading">Master's Degree (MS) Information Systems, University of Florida, Gainesville</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Graduated with a Master's in Information Systems and Operations Management from the Hough Graduate School of Business, University of Florida.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/fis_logo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June 2014 - July 2015</h4>
                                <h4 class="subheading">Software Developer Intern, FIS, Milwaukee/Gainesville/Atlanta</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    As a SharePoint developer, automated business process documentation approval by building SharePoint workflows with custom permission levels.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/rj_logo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2015 - February 2019</h4>
                                <h4 class="subheading">Software Developer, Raymond James Financial, Inc. St. Petersburg</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Developed web applications using advanced front-end web development frameworks including Angular, RxJS, Material Design and D3.js
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/jet_logo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>February 2019 - Present</h4>
                                <h4 class="subheading">Software Engineer, Jet.com, New York</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Building micro services on Azure for the creation and management of promo codes for various marketing campaigns on Jet.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>
                                Be A Part
                                <br>Of My
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>